$font-color: rgb(34,34,34);
$border: rgb(221,221,221);
$hover-link-color: rgb(170,170,170);
$sale-link-color: rgb(224,0,0);
$max-width: 1425px;
$standard-margin: 20px;
$header-height: 46px;
$container-padding: 50px 50px 20px 50px;
